registry=https://nexus.medsi.pro/repository/npm/
@smartmed:registry=https://nexus.medsi.pro/repository/npm/
always-auth=true
email=npm@medsi.pro
//nexus.medsi.pro/repository/npm/:_auth=bnBtcnc6R1hTWkZiR3M=
