.smed-block {
  padding: 24px;
  border-radius: 12px;

  background-color: var(--smed-base-07);
}

.smed-group {
  display: flex;
  flex-direction: column;

  & > * {
    border-radius: 0 !important;
  }

  &:not(&_row) > *:first-child {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  &:not(&_row) > *:last-child {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
  }

  & > *:not(:last-child) {
    --smed-group-border-color: var(--smed-base-04);
  }

  &_row {
    flex-direction: row;

    & > *:first-child {
      border-top-left-radius: 16px !important;
      border-bottom-left-radius: 16px !important;
    }

    & > *:last-child {
      border-top-right-radius: 16px !important;
      border-bottom-right-radius: 16px !important;
    }
  }
}
