.fade-enter-active,
.fade-leave-active {
  @include transition(opacity, 0.4s, ease);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-height16-enter-active,
.fade-height16-leave-active {
  @include transition(all, 0.4s, ease);
  max-height: 16px;
}

.fade-height16-enter-from,
.fade-height16-leave-to {
  opacity: 0;
  max-height: 0;
}

.smed-table-bar {
  &_bottom {
    &-enter-active,
    &-leave-active {
      @include transition(transform);

      transform: translateY(0);
    }

    &-enter-from,
    &-leave-to {
      transform: translateY(100%);
    }
  }

  &_left {
    &-enter-active,
    &-leave-active {
      @include transition(transform);

      transform: translateX(0);
    }

    &-enter-from,
    &-leave-to {
      transform: translateX(-100%);
    }
  }

  &_right {
    &-enter-active,
    &-leave-active {
      @include transition(transform);

      transform: translateX(0);
    }

    &-enter-from,
    &-leave-to {
      transform: translateX(100%);
    }
  }

  &_top {
    &-enter-active,
    &-leave-active {
      @include transition(transform);

      transform: translateY(0);
    }

    &-enter-from,
    &-leave-to {
      transform: translateY(-100%);
    }
  }
}

.smed-mobile-popup-enter-active,
.smed-mobile-popup-leave-active {
  @include transition(all);

  transform: translate(0);
  opacity: 1;
}

.smed-mobile-popup-enter-from,
.smed-mobile-popup-leave-to {
  transform: translateY(10%);
  opacity: 0;
}

.smed-list-transition-move,
.smed-list-transition-enter-active,
.smed-list-transition-leave-active {
  @include transition(all);
}

.smed-list-transition-enter-from,
.smed-list-transition-leave-to {
  opacity: 0;
  transform: translate(0, 30px);
}

.smed-list-transition-leave-active {
  position: absolute;
}

.smed-list-right-transition-move,
.smed-list-right-transition-enter-active,
.smed-list-right-transition-leave-active {
  @include transition(all);
}

.smed-list-right-transition-enter-from,
.smed-list-right-transition-leave-to {
  opacity: 0;
  transform: translate(30px, 0);
}

.smed-list-right-transition-leave-active {
  position: absolute;
}
