:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.text_terapevt_1{
  text-align: start;
  margin: 16px 20px 0px 20px;
}
.text_terapevt_2{
  text-align: start;
  margin: 10px 20px 0px 20px;
}
.base_button_disclaimer{
  width: 89%;
  height: 5%;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  gap: 8px;
  margin: 280px 20px 10px 20px;
}
.info_image{
  text-align:  start;
  margin: 60% 185px 0px 20px;
}
.homeindicator{
  width: 375px;
  height: 34px;
}
.body{
  place-items: center;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}